.my-task-listing-title {
  text-align: center;
  color: #23395d;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}
.search-date {
  margin-right: 30px;
  margin-left: 30px;
}

.search-name {
  margin-right: 30px;
  margin-left: 30px;
}

.page-number-input {
  margin-right: 30px;
  width: 40px;
}

.per-page-input {
  margin-right: 30px;
  width: 40px;
}
